<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.al.account.mapper.AccountDtlMapper">

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO t_set_account_dtl
        (
        flow_dtl_no,
        store_id,
        account_type,
        flow_no,
        biz_type,
        order_date,
        fun_code,
        amount,
        cur_balance,
        fund_direction
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.flowDtlNo},
            #{item.storeId},
            #{item.accountType},
            #{item.flowNo},
            #{item.bizType},
            #{item.orderDate},
            #{item.funCode},
            #{item.amount},
            #{item.curBalance},
            #{item.fundDirection}
            )
        </foreach>
    </insert>

</mapper>