server:
  servlet:
    context-path: /gateway/
  port: 8084
spring:
  main:
    web-application-type: reactive
  application:
    name: gateway-module
  profiles:
    active: dev
  cloud:
    nacos:
      discovery:
        enabled: false
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
